/* .paddingLeft{
    padding-left: 10%;
}
.mb{
    margin-bottom: 10px;
}
.mt{
    margin-bottom: 10px;
}
.paddingRight{
    padding-right: 200px;
}
.backGroung{
    background-color: aliceblue;
    border: 1px solid gray;
    padding-top: 10px;
} */

.border {
    background-color: aliceblue;
}